@media (max-width: 1440px){
    #banner-leyenda{
        width: 70%;
		padding:25px;
    }
	#banner-leyenda h2{
		margin-bottom:25px;
		font-size:36px;
	}
}

@media (max-width: 1100px){
	#banner-leyenda{
        width: auto%;
		position:static;
    }
	#banner{
		display:block;
	}
	#anuncio p {
		font-size:48px;
	}
}
@media (max-width: 920px){
	#top-nav .container .row ul:nth-child(2){
		display:none;
	}
	#noticias .row {
		display:block;
	}
	#noticias .col {
		margin-bottom:15px;
	}
	#anuncio p {
		
	}
	.col-figura {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }
	
}
@media (max-width: 880px){
	#cursos .col{
		flex-basis:50%;
		max-width:50%;
		margin:0;
	}
}
@media (max-width: 790px){
	#main-header {
		justify-content:center;
	}
	#menu-main li a {
		padding: 12px:
	}
	#videos .col-50 {
		flex-basis:100%;
		max-width:100%;
	}
}
@media (max-width: 480px) {
	#cursos .col {
        flex-basis: auto;
        max-width: 100%;
        margin: 0;
        padding: 30px 30px;
    }
	.col-figura {
        flex-basis: 100%;
        max-width: 100%;
    }
}
