<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideas Geniales</title>
    <link rel="shortcut icon" href="images/icono.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    
    <link rel="stylesheet" href="css/style.css">
    <!-- Así se vincula a la hoja de estilos -->
</head>
<body>
    <nav id="top-nav">
        <div class="container">
            <div class="row">
                <ul class="menu menu-top">
                    <li><a href="oficinas.html">Oficinas</a></li>
                    <li><a href="#">Trabaje con nosotros</a></li>
                    <li><a href="clientes.html">Clientes</a></li>
                    <li><a href="inversiones.html">Inversiones</a></li>
                </ul>
                <ul class="menu menu-top">
                    <li><a href="#"><i class="far fa-envelope"></i> info@ideasgeniales.pe</a></li>
                    <li><a href="#"><i class="fas fa-phone-alt"></i> (511)-995097571</a></li>
                </ul>
                <ul class="menu menu-top">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div><!-- row -->    
        </div><!-- container -->    
    </nav><!-- top-nav -->


    <header id="main-header">
        <div class="container">
            <div class="row">
                <div id="logo" class="alineacion-vertical">
                    <a href="/">
                        <img src="images/logo.png" class="img-fluid">
                    </a>
                </div>
                <nav>
                    <ul class="menu menu-main">
                        <li><a href="index.html#noticias">Noticias</a></li>
                        <li><a href="index.html#cursos">Cursos</a></li>
                        <li><a href="index.html#empresa">Nuestra empresa</a></li>
                        <li><a href="index.html#eventos">Eventos</a></li>
                        <li><a href="index.html#colaboradores">Colaboradores</a></li>
                    </ul>
                </nav>                    
            </div><!-- row -->
        </div><!-- container -->    
    </header><!-- main-header -->

    <main id="main-content">
        <section id="clientes" class="padded">
            <div class="container">
                <h2>Clientes</h2>
                <ul>
                    <li><a href="https://www.microsoft.com" target="_blank">Microsoft</a></li>    
                    <li><a href="https://www.adobe.com" target="_blank">Adobe</a></li>    
                    <li><a href="https://www.ibm.com" target="_blank">IBM</a></li>    
                    <li><a href="https://www.apple.com" target="_blank">Apple</a></li>    
                </ul>
            </div><!-- container -->
        </section><!-- clientes -->

        <section id="contactenos" class="padded">
            <div class="container">
                <h2>Contáctenos</h2>
                <form>
                    <div class="row caja-formulario">
                        <div class="col col-50">
                            <input type="text" class="form-control" placeholder="Nombres">
                            <input type="email" class="form-control" placeholder="Correo electrónico">
                            <input type="text" class="form-control" placeholder="Asunto">
                            <input type="button" class="btn-formulario" value="Enviar mensaje">
                        </div>                            
                        <div class="col col-50">
                            <textarea rows="7" class="form-control" placeholder="Mensaje o comentario"></textarea>
                        </div>                            
                    </div><!-- row -->
                </form>
                
            </div><!-- container -->
                <div class="videoWrapper" id="mapa-contacto">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1950.6311959825002!2d-77.0544605!3d-12.0941809!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c9aa6b702e0f%3A0x55c71153c8c3bda4!2sISIL%20(San%20Isidro)!5e0!3m2!1ses!2spe!4v1625611915213!5m2!1ses!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>    
        </section><!-- contactenos -->

    </main><!-- main-content -->
	<section id="info" class="padded">
            <div class="container">
                <div class="row">
                    <div class="col col-50">
                        <div class="videoWrapper">
                            <iframe src="spacex.com"></iframe>
                        </div>
                    </div>
                    <div class="col col-50">
                            <img src="images/Blank_map_of_Peru.svg" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>

    <footer id="main-footer">
        <div class="container">
            2021 - Ideas Geniales. Todos los derechos reservados
        </div><!-- container -->
    </footer><!-- main-footer -->

    <a href="#" id="ir-arriba"><i class="fas fa-chevron-up"></i></a>

</body>
</html>