<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideas Geniales</title>
    <link rel="shortcut icon" href="images/icono.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    
    <link rel="stylesheet" href="css/style.css">
    <!-- Así se vincula a la hoja de estilos -->
</head>
<body>
    <nav id="top-nav">
        <div class="container">
            <div class="row">
                <ul class="menu menu-top">
                    <li><a href="oficinas.html" title="Visite nuestras oficinas">Oficinas</a></li>
                    <li><a href="#" title="Bolsa de trabajo">Trabaje con nosotros</a></li>
                    <li><a href="clientes.html" title="Empresas que confían en nosotros">Clientes</a></li>
                    <li><a href="inversiones.html" title="Crecemos apostando al futuro">Inversiones</a></li>
                </ul>
                <ul class="menu menu-top">
                    <li><a href="#"><i class="far fa-envelope"></i> info@ideasgeniales.pe</a></li>
                    <li><a href="#"><i class="fas fa-phone-alt"></i> (511)-995097571</a></li>
                </ul>
                <ul class="menu menu-top">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div><!-- row -->    
        </div><!-- container -->    
    </nav><!-- top-nav -->


    <header id="main-header">
        <div class="container">
            <div class="row">
                <div id="logo" class="alineacion-vertical">
                    <a href="/">
                        <img src="images/logo.png" class="img-fluid">
                    </a>
                </div>
                <nav>
                    <ul class="menu menu-main">
                        <li><a href="#noticias">Noticias</a></li>
                        <li><a href="#cursos">Cursos</a></li>
                        <li><a href="#empresa">Nuestra empresa</a></li>
                        <li><a href="#eventos">Eventos</a></li>
                        <li><a href="#colaboradores">Colaboradores</a></li>
                    </ul>
                </nav>                    
            </div><!-- row -->
        </div><!-- container -->    
    </header><!-- main-header -->

    <main id="main-content">

    <figure id="banner">
        <img src="images/banner-amigos.jpg" alt="" class="img-fluid">
        <figcaption id="banner-leyenda">
            <h2>Nuevos convenios</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas, temporibus, repellat aspernatur dignissimos animi ipsa totam voluptatum laboriosam velit non, aperiam ex perspiciatis quidem iure similique nemo! Eius, aliquam temporibus.</p>
            <a href="#" class="boton-h">Más información</a> 
        </figcaption>
    </figure><!-- banner -->

    <aside id="mensaje" class="padded">
        <div class="container">
            <h2>En tiempos de crisis solo la imaginación es más útil que la inteligencia</h2>
            <p>Lorem ipsum dolor sit amet consectetur <a href="#">adipisicing elit</a>. Qui, eveniet nostrum reprehenderit obcaecati, facilis, recusandae consectetur nulla nisi sint ut quia voluptate. Veritatis recusandae aliquam nesciunt dolor porro odit explicabo reiciendis in. Iste, rerum ipsam veniam, repudiandae voluptatibus consequuntur at omnis commodi odio natus fuga nesciunt ab dignissimos eligendi alias consequatur? Adipisci fugiat sequi quis eligendi tempore. Perspiciatis, ipsum laborum! Tempore maiores quidem eos, exercitationem, laboriosam veritatis doloremque mollitia fugit dignissimos est aperiam tenetur, quos dolorem repellat. Asperiores, nobis dolores.</p>
        </div>
    </aside><!-- mensaje --> 

    <section id="videos" class="padded">
        <div class="container">
            <h2>Videos</h2>
            <div class="row">
                <div class="col col-50">
                    <div class="videoWrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/_JgtDqW7-ZU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>                    
                <div class="col col-50">
                    <div class="videoWrapper">
                        <iframe src="https://player.vimeo.com/video/552923108?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>                    
            </div><!-- row -->
        </div><!-- container -->
    </section><!-- videos -->

    <section id="noticias" class="padded">
        <div class="container">
            <h2>Noticias</h2>
            <!-- (div>h3{Noticia}+p>lorem70)*3 -->
            <div class="row">
                <article class="col">
                    <h3>Noticia</h3>
                    <p>Lorem ipsum dolor sit amet <a href="#">consectetur adipisicing elit</a>. Recusandae, omnis. Delectus saepe magnam fuga sint, culpa labore quaerat nihil laudantium nisi est molestias laborum consectetur reprehenderit in facilis temporibus inventore quisquam corrupti expedita? Incidunt, eos sint reprehenderit, veritatis iste, cum placeat alias quasi corrupti obcaecati nam voluptas. Vel harum repellendus facilis nesciunt deleniti sequi et ut, quos quam ea odio nulla ab exercitationem suscipit perspiciatis aliquid eligendi voluptates. Magnam, repudiandae.</p>
                </article>
                <article class="col">
                    <h3>Noticia</h3>
                    <p>Cupiditate natus fugit eaque sunt, earum veniam quas ullam, facere, consequuntur autem quia. Veniam ipsa eum molestiae, expedita, exercitationem laborum alias rem sed error vitae unde enim hic assumenda vel cum, quam beatae! Itaque ipsam enim perspiciatis dicta, autem, numquam incidunt dignissimos dolorem ducimus ad nam accusantium impedit id! Rerum ea similique ducimus eveniet enim quibusdam ratione vel, dolorem eum tempora. Ipsam exercitationem vel dolores quibusdam! Vero nihil tenetur odio?</p>
                </article>
                <article class="col">
                    <h3>Noticia</h3>
                    <p>Quod omnis est, Molestias quod eaque doloribus <a href="#">possimus</a> recusandae aliquid pariatur quia esse consequatur repudiandae, excepturi omnis minus consectetur repellat et quisquam fugit rem? In vel animi, fugit molestias praesentium commodi doloremque.</p>
                    <ol type="i" start="12">
                        <li>Lorem, ipsum dolor.</li>
                        <li>Culpa, et distinctio.</li>
                        <li>Cupiditate, consequuntur iste.</li>
                        <li>Eaque, veritatis dolorem.</li>
                    </ol>
                </article>
            </div><!-- row -->
        </div><!-- container -->
    </section><!-- noticias -->

    <aside id="anuncio" class="padded">
        <div class="container">
            <p>Gran concierto de Rock<br>Lima <span class="texto-importante">Fest 2021</span><br>3 Escenarios en simultáneao<br>
                <span class="texto-importante">15 bandas</span> en escena<br>Las mas grandes leyendas<br>21 de Julio en el Estadio Nacional</p>
        </div>
    </aside>

    <aside id="frase" class="padded">
        <div class="container">
            <h2>Vine, Vine y Vencí (Julio César)</h2>
        </div><!-- container -->
    </aside><!-- frase -->

    <section id="cursos" class="padded">
        <div class="container">
            <h2>Cursos</h2>
            <div class="row">
                <!-- (div.col>h3{Curso}+p>lorem20)*4 -->
                <article class="col">
                    <figure>
                        <img src="images/curso1.jpg" alt="" class="img-fluid">
                    </figure>    
                    <h3>Curso</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quidem omnis nam rem voluptatibus dolorum placeat veniam cupiditate tenetur natus.</p>
                </article>
                <article class="col">
                    <figure>
                        <img src="images/curso2.jpg" alt="" class="img-fluid">
                    </figure>    
                    <h3>Curso</h3>
                    <p>Laborum sed temporibus et veniam? Distinctio odio accusantium explicabo alias iure nostrum iste quod. Corrupti consectetur dolor illum error fuga?</p>
                </article>
                <article class="col">
                    <figure>
                        <img src="images/curso3.jpg" alt="" class="img-fluid">
                    </figure>
                    <h3>Curso</h3>
                    <p>Rem ex nemo labore nostrum quod voluptatibus totam nam laborum inventore. Distinctio laboriosam numquam nostrum tempore rem vero accusamus eius?</p>
                </article>
                <article class="col">
                    <figure>
                        <img src="images/curso4.jpg" alt="" class="img-fluid">
                    </figure>
                    <h3>Curso</h3>
                    <p>Tempora sint laborum, nesciunt rem vitae quis in necessitatibus iusto reiciendis natus laboriosam nisi magni dolor officiis dolorem. Repudiandae, exercitationem.</p>
                </article>
            </div><!-- row -->
        </div><!-- container -->
    </section><!-- cursos -->


    <section id="empresa">
        <div class="container">
            <div class="row">  
                <article class="col col-50 alineacion-vertical">
                    <h2>Nuestra empresa</h2>
                    <p>Lorem ipsum dolor sit <a href="#">amet consectetur</a> adipisicing elit. Repellendus necessitatibus explicabo maiores modi sapiente soluta quas eaque! Laborum, non in assumenda ab aperiam, consectetur magnam quasi beatae enim cumque corporis. In sapiente quod voluptatem animi perspiciatis, dicta eligendi. Sapiente, in.</p>
                </article>
                <figure class="col col-50 caja-imagen">
                    <img src="images/foto-empresa.jpg" alt="" class="img-fluid">
                    <figcaption class="caja-imagen-leyenda alineacion-vertical">
                        <h3>Nuestros ideales</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci sed, placeat consequuntur eaque commodi distinctio natus ipsam? Possimus amet ex numquam aliquid facere culpa perferendis eos. Dignissimos obcaecati modi dolorum.</p>   
                    </figcaption>
                </figure>
            </div><!-- row -->
        </div><!-- container -->
    </section><!-- empresa -->

    <section id="valores" class="padded">
        <div class="container">
            <h2>Valores</h2>
            <div class="row">
                <!-- (div.col>h3{Valor}+p>lorem12)*5 -->
                <div class="col">
                    <i class="fab fa-apple fa-3x fa-fw"></i>
                    <h3>Valor</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non assumenda provident molestias!</p>
                </div>
                <div class="col">
                    <i class="fab fa-android fa-3x fa-fw"></i>
                    <h3>Valor</h3>
                    <p>Nihil fugit quaerat, et deleniti nulla nesciunt earum facilis quos libero accusamus.</p>
                </div>
                <div class="col">
                    <i class="fas fa-baby-carriage fa-3x fa-fw"></i>
                    <h3>Valor</h3>
                    <p>Odio dolore consectetur dolor, minima accusamus ducimus cupiditate pariatur quos quis nihil?</p>
                </div>
                <div class="col">
                    <i class="fas fa-cat fa-3x fa-fw"></i>
                    <h3>Valor</h3>
                    <p>Voluptatem perferendis ipsum commodi ut quisquam nesciunt quo molestias maiores laboriosam mollitia?</p>
                </div>
                <div class="col">
                    <i class="fas fa-coffee fa-3x fa-fw"></i>
                    <h3>Valor</h3>
                    <p>Harum, earum porro voluptatum error voluptate incidunt corporis blanditiis optio ab ipsum?</p>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </section><!-- valores -->


    <section id="eventos" class="padded">
        <div class="container">
            <h2>Eventos</h2>
            <div class="row">       
                <!-- (div.col>h3{Evento $}+(p>lorem)*2)*3 -->
                <article class="col col-50">
                    <h3>Evento 1</h3>
                    
                    <video autoplay loop class="img-fluid">
                        <source src="video/video.mp4">
                    </video>
                    
                    <ol type="a">
                        <li>Estadio Nacional</li>
                        <li>Jockey Plaza</li>
                        <li>Estadio Monumental</li>
                    </ol>
                    
                </article>
                <article class="col">
                    <h3>Evento 2</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quas molestias voluptatibus asperiores voluptas tempora odio quaerat vero dicta eaque quisquam, illo mollitia at enim minima? Illo recusandae consequatur cum?</p>
                    <ul>
                        <li>Bogotá</li>
                        <li>Lima</li>
                        <li>Montevideo</li>
                        <li>San José</li>
                        <li>Guayaquil</li>
                        <li>Santiago</li>
                    </ul>
                </article>
                <article class="col">
                    <h3>Evento 3</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi laboriosam necessitatibus, adipisci provident dolores amet recusandae est pariatur nesciunt iure ad quos ducimus laborum animi. Obcaecati ut nulla perspiciatis sequi?</p>
                    <ol>
                        <li>Jennifer Lopez</li>
                        <li>Madonna</li>    
                        <li>Shakira</li>
                        <li>Cristina Aguilera</li>
                        <li>Tigresa del Oriente</li>
                    </ol>
                </article>
            </div><!-- row -->
        </div><!-- container -->
    </section><!-- eventos -->

    <section id="colaboradores" class="padded">
        <div class="container">
            <h2>Colaboradores</h2>
            <div class="row">       
                <!-- (div.col>h3{Colaborador $}+(p>lorem20))*4 -->
                <div class="col">
                    <img src="images/colaboradores/dianaprince.jpg" alt="" class="img-fluid">
                    <h3>Colaborador 1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ipsa repudiandae molestias sequi in ex amet fugit illo saepe laborum.</p>
                </div>
                <div class="col">
                    <img src="images/colaboradores/tonystark.jpg" alt="" class="img-fluid">
                    <h3>Colaborador 2</h3>
                    <p>Tenetur placeat inventore tempore mollitia sit provident voluptatem quaerat, nulla beatae adipisci magni veritatis doloribus pariatur, amet, accusamus numquam totam?</p>
                </div>
                <div class="col">
                    <img src="images/colaboradores/natasha.jpg" alt="" class="img-fluid">
                    <h3>Colaborador 3</h3>
                    <p>Consequatur ipsam, dignissimos veritatis quas molestiae et sit soluta. Aut mollitia repellat quasi soluta vel tenetur adipisci velit ipsa neque?</p>
                </div>
                <div class="col">
                    <img src="images/colaboradores/susanstorm.jpg" alt="" class="img-fluid">
                    <h3>Colaborador 4</h3>
                    <p>Ipsa dolores distinctio voluptates, ex quas possimus minus facere, saepe voluptate voluptatum aspernatur cumque quod earum, optio ullam dignissimos laborum?</p>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </section><!-- colaboradores -->

    <section id="galeria" class="padded">
        <div class="container">
            <h2>Galería</h2>                
            <div class="row">
                <!-- (figure.col.col-figura>img[src=fotos/foto$.jpg].img-fluid)*12 -->
                <figure class="col col-figura"><img src="fotos/foto1.jpg" alt="" class="img-fluid"></figure>
                <figure class="col col-figura"><img src="fotos/foto2.jpg" alt="" class="img-fluid"></figure>
                <figure class="col col-figura"><img src="fotos/foto3.jpg" alt="" class="img-fluid"></figure>
                <figure class="col col-figura"><img src="fotos/foto4.jpg" alt="" class="img-fluid"></figure>
                <figure class="col col-figura"><img src="fotos/foto5.jpg" alt="" class="img-fluid"></figure>
                <figure class="col col-figura"><img src="fotos/foto6.jpg" alt="" class="img-fluid"></figure>
                <figure class="col col-figura"><img src="fotos/foto7.jpg" alt="" class="img-fluid"></figure>
                <figure class="col col-figura"><img src="fotos/foto8.jpg" alt="" class="img-fluid"></figure>
                <figure class="col col-figura"><img src="fotos/foto9.jpg" alt="" class="img-fluid"></figure>
                <figure class="col col-figura"><img src="fotos/foto10.jpg" alt="" class="img-fluid"></figure>
                <figure class="col col-figura"><img src="fotos/foto11.jpg" alt="" class="img-fluid"></figure>
                <figure class="col col-figura"><img src="fotos/foto12.jpg" alt="" class="img-fluid"></figure>
            </div><!-- row -->
        </div><!-- container -->
    </section><!-- galeria -->

    </main><!-- main-content -->

    <footer id="main-footer">
        <div class="container">
            2021 - Ideas Geniales. Todos los derechos reservados
        </div><!-- container -->
    </footer><!-- main-footer -->

    <a href="#" id="ir-arriba"><i class="fas fa-chevron-up"></i></a>

</body>
</html>