<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideas Geniales</title>
    <link rel="shortcut icon" href="images/icono.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    
    <link rel="stylesheet" href="css/style.css">
    <!-- Así se vincula a la hoja de estilos -->
</head>
<body>
    <nav id="top-nav">
        <div class="container">
            <div class="row">
                <ul class="menu menu-top">
                    <li><a href="oficinas.html">Oficinas</a></li>
                    <li><a href="#">Trabaje con nosotros</a></li>
                    <li><a href="clientes.html">Clientes</a></li>
                    <li><a href="inversiones.html">Inversiones</a></li>
                </ul>
                <ul class="menu menu-top">
                    <li><a href="#"><i class="far fa-envelope"></i> info@ideasgeniales.pe</a></li>
                    <li><a href="#"><i class="fas fa-phone-alt"></i> (511)-995097571</a></li>
                </ul>
                <ul class="menu menu-top">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div><!-- row -->    
        </div><!-- container -->    
    </nav><!-- top-nav -->


    <header id="main-header">
        <div class="container">
            <div class="row">
                <div id="logo" class="alineacion-vertical">
                    <a href="/">
                        <img src="images/logo.png" class="img-fluid">
                    </a>
                </div>
                <nav>
                    <ul class="menu menu-main">
                        <li><a href="index.html#noticias">Noticias</a></li>
                        <li><a href="index.html#cursos">Cursos</a></li>
                        <li><a href="index.html#empresa">Nuestra empresa</a></li>
                        <li><a href="index.html#eventos">Eventos</a></li>
                        <li><a href="index.html#colaboradores">Colaboradores</a></li>
                    </ul>
                </nav>                    
            </div><!-- row -->
        </div><!-- container -->    
    </header><!-- main-header -->

    <main id="main-content">
        <section id="inversiones" class="padded">
            <div class="container">
                <h2>Inversiones</h2>

            </div><!-- container -->
        </section><!-- inversiones -->
    </main><!-- main-content -->

    <footer id="main-footer">
        <div class="container">
            2021 - Ideas Geniales. Todos los derechos reservados
        </div><!-- container -->
    </footer><!-- main-footer -->

    <a href="#" id="ir-arriba"><i class="fas fa-chevron-up"></i></a>

</body>
</html>