<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideas Geniales</title>
    <link rel="shortcut icon" href="images/icono.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    
    <link rel="stylesheet" href="css/style.css">
    <!-- Así se vincula a la hoja de estilos -->
</head>
<body>
    <nav id="top-nav">
        <div class="container">
            <div class="row">
                <ul class="menu menu-top">
                    <li><a href="oficinas.html">Oficinas</a></li>
                    <li><a href="#">Trabaje con nosotros</a></li>
                    <li><a href="clientes.html">Clientes</a></li>
                    <li><a href="inversiones.html">Inversiones</a></li>
                </ul>
                <ul class="menu menu-top">
                    <li><a href="#"><i class="far fa-envelope"></i> info@ideasgeniales.pe</a></li>
                    <li><a href="#"><i class="fas fa-phone-alt"></i> (511)-995097571</a></li>
                </ul>
                <ul class="menu menu-top">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div><!-- row -->    
        </div><!-- container -->    
    </nav><!-- top-nav -->


    <header id="main-header">
        <div class="container">
            <div class="row">
                <div id="logo" class="alineacion-vertical">
                    <a href="/">
                        <img src="images/logo.png" class="img-fluid">
                    </a>
                </div>
                <nav>
                    <ul class="menu menu-main">
                        <li><a href="index.html#noticias">Noticias</a></li>
                        <li><a href="index.html#cursos">Cursos</a></li>
                        <li><a href="index.html#empresa">Nuestra empresa</a></li>
                        <li><a href="index.html#eventos">Eventos</a></li>
                        <li><a href="index.html#colaboradores">Colaboradores</a></li>
                    </ul>
                </nav>                    
            </div><!-- row -->
        </div><!-- container -->    
    </header><!-- main-header -->

    <main id="main-content">
        <section id="oficinas" class="padded">
            <div class="container">
                <h2>Oficinas</h2>
                <div class="contenido-columnas">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas error iusto, veritatis earum laborum totam animi nobis dicta velit rerum optio explicabo libero delectus ex quos mollitia in officia quod soluta non assumenda? Eos dolore optio fugiat ipsa, magni molestiae, ducimus nisi sunt voluptatem, aperiam placeat. Explicabo soluta fugit minus voluptas incidunt. Accusamus dicta deserunt voluptatibus, laborum tempora delectus veniam cupiditate nulla illum, repellat ullam numquam ipsa vero? Laborum, cumque unde totam natus fuga dolorum voluptatibus blanditiis nulla explicabo eveniet?</p>
                    <p>Eaque nostrum qui quos optio, incidunt ipsa accusantium similique ea consequuntur. Sunt, in vitae quaerat esse aliquam delectus, atque ab placeat ipsa nihil saepe blanditiis fugiat dolor. Totam pariatur possimus ea, aperiam accusamus velit obcaecati inventore numquam ratione eligendi commodi libero rem sapiente qui dolor animi consequuntur omnis eveniet tempore nisi neque perferendis. Modi optio cum reprehenderit tempora deleniti numquam consequuntur expedita. At perspiciatis numquam fugiat consectetur obcaecati adipisci exercitationem. Ipsum delectus accusantium nisi tempora reiciendis, nam repellendus in temporibus.</p>
                    <p>Modi minus itaque labore officia obcaecati tempore natus? Ipsam repellat libero, possimus sequi hic ratione error doloribus adipisci nulla cupiditate molestias exercitationem voluptatibus quidem esse iste reprehenderit sapiente amet nobis officia accusantium maiores tenetur. Ducimus fugiat ullam, dolorem ipsa voluptatibus itaque ratione perspiciatis quisquam, inventore aspernatur odio vel nobis illo nam numquam, odit fuga quo provident unde ut reprehenderit! Voluptate neque, odio minus, soluta facere accusamus eius reprehenderit amet nobis quos laboriosam nisi ipsum fugiat esse consequatur inventore tempora culpa.</p>
                    <p>Sint similique repudiandae veritatis. Atque totam cum, inventore praesentium est ratione dolorem vitae maiores mollitia culpa obcaecati ipsum recusandae officiis quisquam, eaque aliquam, facere saepe quas neque similique vel minus dolore dolores! Perspiciatis, dicta! Fuga distinctio officia ipsum consectetur. Error, hic veritatis laborum mollitia necessitatibus quam minus incidunt maiores dicta, harum eum optio nulla pariatur commodi iste ab laboriosam sunt enim doloribus culpa? Itaque maxime ipsam autem nemo ex repudiandae consectetur amet deserunt nisi, ea laudantium quas sint sed. Consectetur.</p>
                    <p>Aperiam alias doloremque ut amet ipsam, recusandae harum neque molestias ea vero! Voluptates fuga mollitia illo nesciunt? Illum quo dolores ab dicta odio! Molestias dignissimos nobis rem voluptas voluptatum, labore consequatur, voluptate, minima numquam repellat ducimus obcaecati dolores ut iure ullam veniam adipisci itaque aperiam magni voluptatibus. Cumque perferendis nemo, exercitationem quo deleniti nesciunt dolorem maxime ratione ea adipisci tenetur ipsum est assumenda animi doloribus repellendus ad, enim, dolores facere sapiente maiores fuga! Labore, omnis cumque. Obcaecati, similique repellendus? Soluta.</p>
                </div><!-- contenido-columnas -->
            </div><!-- container -->
        </section><!-- oficinas -->

        <section id="sedes" class="padded">
            <div class="container">
                <h2>Sedes</h2>
                <div class="row">
                    <div class="col col-66">
                        <table class="miTabla">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Ciudad</th>
                                    <th>País</th>
                                    <th>Gerente</th>
                                    <th>Ventas ($)</th>
                                </tr>                                    
                            </thead>
                            <tbody>

                                <tr>
                                    <td>01</td>
                                    <td>Londres</td>
                                    <td>Reino Unido</td>
                                    <td>Clark Kent</td>
                                    <td>250,000</td>
                                </tr>
                                <tr>
                                    <td>02</td>
                                    <td>Berlín</td>
                                    <td>Alemania</td>
                                    <td>Tony Stark</td>
                                    <td>10,000</td>
                                </tr>
                                <tr>
                                    <td>03</td>
                                    <td>Moscú</td>
                                    <td>Rusia</td>
                                    <td>Natasha Romanov</td>
                                    <td>130,000</td>
                                </tr>
                                <tr>
                                    <td>04</td>
                                    <td>New york</td>
                                    <td>USA</td>
                                    <td>Peter Parker</td>
                                    <td>310,000</td>
                                </tr>
                                <tr>
                                    <td>05</td>
                                    <td>Los Angeles</td>
                                    <td>USA</td>
                                    <td>Bruno Díaz</td>
                                    <td>400,000</td>
                                </tr>
                                <tr>
                                    <td>06</td>
                                    <td>Tokio</td>
                                    <td>Japón</td>
                                    <td>Ricardo Tapia</td>
                                    <td>350,000</td>
                                </tr>
                                <tr>
                                    <td>07</td>
                                    <td>Sidney</td>
                                    <td>Australia</td>
                                    <td>Diana Prince</td>
                                    <td>140,000</td>
                                </tr>


                                <tr>
                                    <td>08</td>
                                    <td>Montevideo</td>
                                    <td>Uruguay</td>
                                    <td>Donald Blake</td>
                                    <td>80,000</td>        
                                </tr>        
                                <tr>
                                    <td>09</td>
                                    <td>Asunción</td>
                                    <td>Paraguay</td>
                                    <td>Bruce Banner</td>
                                    <td>70,000</td>  
                                </tr>        
                                <tr>
                                    <td>10</td>
                                    <td>San José</td>
                                    <td>Costa Rica</td>
                                    <td>Susan Storm</td>
                                    <td>110,000</td>
                                </tr>        
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>                            
                    </div>        
                    <div class="col col-33">
                        <figure class="empleado-mes">
                            <img src="images/colaboradores/pepperpotts.jpg" alt="" class="img-fluid">
                            <figcaption>Empleada del mes</figcaption>
                        </figure>
                    </div>        
                </div><!-- row -->
            </div><!-- container -->
        </section><!-- sedes -->

    </main><!-- main-content -->

    <footer id="main-footer">
        <div class="container">
            2021 - Ideas Geniales. Todos los derechos reservados
        </div><!-- container -->
    </footer><!-- main-footer -->

    <a href="#" id="ir-arriba"><i class="fas fa-chevron-up"></i></a>

</body>
</html>