/* Importación de fuentes:*/
/* Asi las respectivas fuentes de Google hace de referencias con los estilos indicados. */

/* Asi se define las reglas de estilos para los elementos */
.header-area {
	z-index:1212; position:sticky; top:0;
	box-shadow:5px 5px 10px 0px rgb(127 127 127 / 17%);
}
.header-area, .header-static {
	padding:15px 50px;
} .header-static .logoresize a img {
	height:58px;
}
.excluivedetails {
	border-bottom:solid 2px #fff; border-bottom:solid 2px #eee;
}
.header-area .header-wrapper {
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-wrap:wrap;
}
.header-wrapper {
	padding:7px 0;
	position: relative;
}
.header-area, .logo a {
	display:block;
}
.header-left {
	height:58px;
	padding-top:4px;
}
.container {
	max-width:1260px;
	width:100%;
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
}
.row {
	display:flex;
}
.justicenter {
	justify-content:center;
}
.align-items-center {
	align-items:center!important;
}
.col {
	padding-right:-15px;
	padding-left:-15px;
}
.col-logo {
	max-width:25%;
	position:relative;
	width:100%;
	padding-left:15px;
}
.col-menu {
	max-width:75%;
	position:absolute;
	top:10px;right:0;
	width:100%;
}
.header-right {
	display:flex;
	align-items:center;
	flex-wrap:wrap;
}
.justify-at-end {
	justify-content:flex-end!important;
}
.mainmenunav ul.mainmenu {
	justify-content:flex-end;
	flex-wrap:wrap;
	display:flex;
}
.mainmenunav ul.mainmenu li, #tresrayas-distance {
	margin:14px;
	position:relative;
	animation: li-move-down 0.75s ease-in-out;
}

.mainmenunav .mainmenu ul li:nth-child(1)  {
	animation-delay: 1s;
}
.mainmenunav .mainmenu ul li:nth-child(2) {
	animation-delay: 2s;
}
.mainmenunav .mainmenu ul li:nth-child(3) {
	animation-delay: 3s;
}
.mainmenunav .mainmenu ul li:nth-child(4) {
	animation-delay: 4s;
}
.mainmenunav .mainmenu ul li:nth-child(5) {
	animation-delay: 5s;	
}
.mainmenunav .mainmenu ul li:nth-child(6) {
	animation-delay: 6s;
}
.mainmenunav .mainmenu ul li:nth-child(7) {
	animation-delay: 7s;
}
.mainmenunav .mainmenu ul li:nth-child(7) {
	animation-delay: 8s;
}

.mainmenunav .mainmenu li:hover {
	transform:scale(1.175);
}
.actioncolor ul.mainmenu li a {
	color:#1d1d24;
	font-weight:500;
}
.actioncolordark ul.mainmenu li a {
	color:#fff;
	font-weight:500;
}
.actioncolor ul.mainmenu li:hover a, .actioncolordark ul.mainmenu li:hover a {
	color:#FD4766;
	transition:.175s all ease-in-out;
}
.slide {
	width:11384px;
	margin-left:auto;
	margin-right:auto;
}
.opacity {
	background-color:#01001732;
	height:100%;
	margin-left:auto;
	margin-right:auto;
}
.strengthopacity {
	background-color:#070707aa;
	height:100%;
}
.banner {
	height:800px;
	align-items:center;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:right;
}
.banner .container {
	position: relative;
}
.textbanner {
	position:absolute;
	color:#fff;
	background-attachment:fixed;
	top:178px;left:40px; animation: left-move 0.5s ease-in-out;
	transition: ease-in-out;
	width:50%;
} .textbanner .title {
	color:#fff;
	font-size:100px;
	font-weight:900;
	letter-spacing:0.45px;
	line-height:28px;
} .textbanner .desc {
	margin:0;
	font-size:25px;
	line-height:40px;
	font-weight:400;
	padding-left:10px;
	color:#fff;
	opacity:0.75;
}
a.btn-default, button.btn-default {
	position:absolute;
	color:#fff;
	font-size:16px;
	text-transform:uppercase;
	letter-spacing:2px;
	padding:16px 40px;
	border-radius:500px;
	display:inline-block;
	font-weight:500;
	transition:all .75s ease-in-out;
	background-size:152% 100%;
	background-color:#fd4766;
	border:solid 2px #fd4766;
	transition-delay:.125s;
}
.btn-default:hover, a.btn-default:hover{
	background:#fd4766;color:#fff;
	animation: btn-move 17s ease-in-out;
}
.slide-btn {
	margin-top:50px;
}
.fullboxsize { /* Tamaño de caja completo (máximo). */
	max-width:100%; /* Para que el ancho máximo de un elemento sea igual que su contenedor.*/
}
.padv-120px {
	padding:120px 0;
}
.bg-defaultcolor {
	background:#fff;
}
.bg-gray {
	background:#f6f6f6;
}
.wraped {
	flex-wrap:wrap;
}
.box {
	padding:50px;
	margin:16px 20px;
	border-radius:8px;
}
.service-move {
	min-width:250px;
	max-width:280px;
	transform:translateY(5px);
	transition:0.125s all ease-in-out;
}
.service-move:hover {
	box-shadow:0px 5px 75px 0px rgb(117 117 117 / 17%);
	transform:translateY(-5px);
}
.icon {
	font-size:40px;
	font-weight:100;
	margin-bottom:23px;
	text-align:center;
	display:flex;
}
.service-style {}
 .service-style h3 {
	margin-bottom:19px;
	font-weight:600;
	font-size:20px;
} .service-style p {
	margin-top:10px;
	color:var(--color-gray);
	font-size:var(--font-size-b1);
	line-height:var(--line-height-b1);
	font-weight:400;
	color:#1d1d24bf;
	font-size:18.75px;
  
} .service-style a {
	color:#1d1d24bf;
}
.bg-lightgray {
	background:#f9f9f9;
	padding:25px 0;
}
.us h2.gradient-title {
	background:linear-gradient(120deg, #1C99FE 5%, #7644FF 45%, #fd4766 85%);
	-webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    display:inline-block;
	font-size:78px;
	margin-bottom:6px;
}
.us p {
	font-size:24px;
    line-height:27px;
	color:#cac5be;
	margin-top:6px;
}
.acontainer {
	max-width:1260px;
	width:100%;
	margin-right:auto;
	margin-left:auto;
}
.aboutimg {
	padding:0 5px;
	margin:auto;
}
aboutimg:hover{
}
.aboutbox {
	padding:20px 0;
	max-width: 48%;
	margin-left:auto;
	margin-right:auto;
    box-sizing: border-box;
}
.section-title {
	font-size:19px;
	line-height:31px;
	letter-spacing:0.55px;
	color:#1d1d24bf;
}
.section-title {
	font-size:19px;
	line-height:30px;
	letter-spacing:0.55px;
	color:#1d1d24bf;
}
img.thumbnail, .thumbnail img {
	border-radius:6px;
}
.elcenter {
	text-align:center!important;
	justify-content:center;
}
.text-center {
	text-align:center!important;
}
.h-margin {
	margin:auto 0;
}
#team-area {}
.tcontainer {
	justify-content:space-between;
}
.team {
	position:relative;
	transform:translateY(5px);
	transition:all 0.25s ease-in-out;
	padding:8px;
}
.team:hover {
	transform:translateY(0px);
	box-shadow:10px 21px 72px rgb(17 17 17 / 5%);
}
.thumbnail:hover {
	transition-delay:.05s;
	overflow:hidden;
}
.thumbnail img{
	max-width:100%;
}
.parrafocard {
	margin:12.5px 17.5px 1px 1px;
}
.card-header a {
	padding-top:17px;
	color:#434;
	border-bottom:solid 3.35px #fd4766;
	font-size:18px;
	font-weight:500;
	letter-spacing:-0.25px;
}
.card-body {
	margin-top:10px;
	margin-bottom:10px;
	font-size:20px;
	line-height:24px;
	font-weight:350;
}

.social-icon {
	display:flex;
} .social-icon svg {
	margin:0 7.5px;
	transition:all 0.25s ease-in-out;
} .social-icon svg:hover {transform:translateY(-5px);}
.white {
	color:#fff;
}
.black {
	color:#000;
}
.teacontent {
	z-index:1; position:absolute; bottom:22.5px; left:25px;
}
.teacontent p {
	font-size:17px;
}
.teacontent p, .teacontent h4 {
	margin-left:12.5px;
}
.has-droupdown {
	border-top:solid 3px rgba(255, 255, 255, 0);
	transition:all 0.175s ease-in-out;
	border-bottom:solid 1px rgba(255, 255, 255, 0);;
}
.droupdown {
	transition:all 0.175s ease-in-out;
}
.has-droupdown:hover, .droupdown:hover {
	transform:translateY(-1.35px);
	border-bottom:solid 1px #fd4c6a;
}
.vcontainer {
	max-width:1460px;
	margin-left:auto;
	margin-right:auto;
	min-height:1050px;
}
.forvideos {
	position:relative;
	padding:0 82.5px;
}
.insidevideotext h2 {
	color:#48c;
	text-decoration:underline;
}
.pt--200 {
	padding-top:200px;
}
.contact-style {
	box-shadow:0px 5px 75px 0px rgb(117 117 117 / 17%);
}
.content, .content a {
	color:#000;
} .content a:hover { 
	color:#fd4c6a;
	padding-bottom:0.5px;
} .content p {
	font-size:18px;
	margin:4.5px 0;
}
.us-icon {
    border-radius:100%;
    font-size:33px;
    display:inline-block;
    margin-bottom:12px;
}
.f9color {
	color:#f9f9f9;
}
.patopic-120 {
	padding:120px 0;
}
.padv-100 {
	padding:100px 0;
}
.ft-text {
	color:#fff;
}
.ft-text li {
	padding:6px 10px;
}
.footer-area {
	position:relative;
	z-index:1213;
}
.footer-logo {
	padding:5px;
	width:45%;
}
.col {
	padding:10px 7.5px;
    flex-basis:0;
    flex-grow:1;
    box-sizing:border-box;
}
.col-33 {
	flex-basis:33%;
    max-width:33%;
}
.videowrapper {
	position:relative;
    padding-bottom:56.25%;
    height:0;
}
.videowrapper iframe {
	position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.btwn-separator{
	justify-content: space-between;
}
.col-66 {
	flex-basis:66%;
    max-width:66%;
}
.table--h50{
	margin:20px 100px;
}
.fullcol{
	flex-basis:100%;
    max-width:100%;
}
.form-control{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: solid 1.9995px #eee;
    padding: 12px;
    font: inherit;
    outline: none;
    box-sizing: border-box;
  }
  .form-control:focus{
      border-bottom-color: #fd4c6a;
  }
  .btn-formulario{
    width: 100%;
    padding: 10px 20px;
	border-radius:10px;
    border: none;
    background-color: #ff0000;
    color: #ffffff;
    cursor: pointer;
    transition: .5s all ease-in-out; 
	margin-top:auto;
	margin-bottom:auto;
  }
  .btn-formulario:hover{
      background-color: #1c99fe;
  }
  .caja-formulario{
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 20%);
}