html, body, iframe, div, button, span { margin: 0; padding: 0;
scroll-behavior: smooth; border: none; overflow: hidden;
font-size: 3vh; line-height: 3.5vh; color: #fffb; } body { background-color: #242424;}
iframe { display: block; overflow: visible; width: 100vw; height: 100vh; }
input { display: none; }
#iframe-container { display: flex; flex-wrap: wrap; position: absolute; top:0vw; left:0vw;
    z-index: -1; transition: transform 0.5s ease-in-out; }
#pivot-btns { position: fixed; overflow: visible; cursor: pointer;
    z-index: 0; left: 47.5vw; top: 46vh; }
.circle {resize: none; position: absolute; border-radius: 50%; box-shadow: rgba(121, 119, 119, 0.55) 0px 0px 20px 10px;}
.gray { background-color: #3a3a3a;}
.light-gray { background-color: #4c538b;}
.scroll-btn { z-index: 1; left: 0vw; top: 0vh; width: 8vh; height: 8vh; display: none; opacity:0.5; transition: transform 0.095s ease-out; border:0px;}
 .scroll-btn:hover {background-color: #3b3b3b73;}
 #scroll-left { transform: translate(-47vw, 0); animation: start_leftButton 0.5s ease-in-out;} #scroll-right { transform: translate(47vw, 0); animation: start_rightButton 0.5s ease-in-out;} #scroll-up { transform: translate(0, -47vh); animation: start_upButton 0.5s ease-in-out;} #scroll-down { transform: translate(0, 47vh); animation: start_downButton 0.5s ease-in-out;}
 #hitboxes { overflow: visible; }
 #hitboxes div { z-index: -1; position: absolute; display: none;}
 #hitboxes div:hover { background-color: #55525202;}
 #hitbox-left, #hitbox-up { left: 0vw; top: 0vh; } #hitbox-right, #hitbox-down { right: 0vw; bottom: 0vh; }
  #hitbox-left, #hitbox-right { width: 8px; height: 100vh;} #hitbox-up, #hitbox-down { width: 100vw; height: 8px;}
  #scroll-hideButtons {z-index: 1; left: 47.5vw; top: 46vh; width: 2.5vw; height: 2.5vw; overflow: visible; opacity:0.4; animation: solidify 1.5s ease-out;} #import_loadjson { left: -4vh; top: -4vh; width:3vw; height:3vw; }
  @keyframes start_leftButton { 0%{opacity:0.35; transform: translate(0,0); }
    100%{opacity:0.7;transform: translate(calc(-46.5vw + 0px), 0); } }
  @keyframes start_rightButton { 0%{opacity:0.35; transform: translate(0,0); }
    100%{opacity:0.7;transform: translate(calc(46.5vw + 0px), 0); } }
  @keyframes start_upButton { 0%{opacity:0.35; transform: translate(0,0); }
    100%{opacity:0.7;transform: translate(0, calc(-46.5vh + 0px)); } }
  @keyframes start_downButton { 0%{opacity:0.35; transform: translate(0,0); }
    100%{opacity:0.7;transform: translate(0, calc(46.5vh + 0px)); } }
  @keyframes solidify { 0%{opacity:0.05; }
    100%{opacity:0.4; } }
    