html, body, iframe, div, button, span { margin: 0; padding: 0;
scroll-behavior: smooth; border: none; overflow: hidden;
font-size: 3vh; line-height: 3.5vh; color: #fffb; } body { background-color: #242424;}
iframe { display: block; overflow: visible; width: 100vw; height: 100vh; }
input { display: none; }
#iframe-container { display: flex; flex-wrap: wrap; position: absolute; top:0vw; left:0vw;
    z-index: -1; transition: transform 0.5s ease-in-out; }
#pivot-btns { position: fixed; overflow: visible; cursor: pointer;
    z-index: 0; left: 47.5vw; top: 46vh; }
.circle {resize: none; position: absolute; border-radius: 50%;}
.gray { background-color: #3a3a3a;}
.light-gray { background-color: #4c538b;}
.scroll-btn { z-index: 1; left: 0vw; top: 0vh; width: 8vh; height: 8vh; display: none; opacity:0.7; transition: transform 0.5s ease; border:0px;}
 .scroll-btn:hover {background-color: #3b3b3b73;}
  #scroll-left { left:calc(-45vw + 0px); animation: start_leftButton 0.5s ease-in-out;} #scroll-right {left: calc(45vw + 0px); animation: start_rightButton 0.5s ease-in-out;} #scroll-up {top: calc(-45vh + 0px); animation: start_upButton 0.5s ease-in-out;} #scroll-down {top: calc(45vh + 0px); animation: start_downButton 0.5s ease-in-out;}
  .scroll-btn .hitbox { position: fixed; z-index: 1; }
  #scroll-left .hitbox, #scroll-right .hitbox { width: 10%; height: 100vh;} #scroll-up .hitbox, #scroll-down .hitbox { width: 100vw; height: 5%;}
  #scroll-left .hitbox, #scroll-up .hitbox { left: 0vw; top: 0vh; } #scroll-right .hitbox, #scroll-down .hitbox { right: 0vw; bottom: 0vh; }
  #scroll-hideButtons {z-index: 0; left: 47.5vw; top: 46vh; width: 2.5vw; height: 2.5vw; overflow: visible; opacity:0.5; animation: solidify 1s ease-in-out;} #import_loadjson { left: -4vh; top: -4vh; width:3vw; height:3vw; }
  @keyframes start_leftButton { 0%{opacity:0.35; left: 0vw; top: 0vh; }
    100%{opacity:0.7;left:calc(-45vw + 0px); } }
  @keyframes start_rightButton { 0%{opacity:0.35; left: 0vw; top: 0vh; }
    100%{opacity:0.7;left:calc(45vw + 0px); } }
  @keyframes start_upButton { 0%{opacity:0.35; left: 0vw; top: 0vh; }
    100%{opacity:0.7;top:calc(-45vh + 0px); } }
  @keyframes start_downButton { 0%{opacity:0.35; left: 0vw; top: 0vh; }
    100%{opacity:0.7;top:calc(45vh + 0px); } }
  @keyframes solidify { 0%{opacity:0.05; }
    100%{opacity:0.55; } }
    