<!DOCTYPE html>
<html lang="es">
<head>
	<title>Oficinas || Imroz Creative Agency & Portfolio Bootstrap Template</title><!-- Da una título a la página. -->
	<meta charset="UTF-8"><!-- Da acceso al mapa de caracteres especiales para su uso en la página. -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- Da compatibilidad (Dirigido a Microsoft Edge). -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- Establece unas Propiedades Principales; es distribuído en Toda la Página Web. -->
	 <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico">
	<!-- ***  Direción de vinculación hacia la hoja de estilos *** -->
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous">
	 <link rel="stylesheet" href="assets/css/style.css"><!-- La Hoja Principal. Para los estilos de las variables principales. -->
	 <link rel="stylesheet" href="assets/css/id.css"><!-- La Hoja Principal. Para los estilos de las variables principales. -->
	 <link rel="stylesheet" href="assets/css/class.css"><!-- La Hoja Principal. Para los estilos de las variables principales. -->
	 <link rel="stylesheet" href="assets/css/@keyframes.css"><!-- La Hoja Principal. Para los estilos de las variables principales. -->
	<!--  Importado a 000WebHost desde FileZilla -->
	<!--  SiteUser:joseeduardobartraparcial  ▬  Password: thatianamalca17  -->
</head><!------- /head ------->
<body>
    <header class="header-area header-static logoresize actioncolor bg-defaultcolor excluivedetails">
		<div class="header-wrapper">
			<div class="container">
				<div class="row align-items-center">
					<div class="col col-logo">
						<div class="header-left">
							<div class="logo"><a href="index.html"><img id="logo" src="assets/images/logo/png/logo.png" alt="imroz"></a></div>
						</div>
					</div>
					<div class="col col-menu">
						<div class="header-right justify-at-end">
							<nav class="mainmenunav">
								<ul class="mainmenu">
									<li class="has-droupdown"><a href="/">Home</a>
									</li>
									<li class="has-droupdown"><a href="#about-area">About</a>
									</li>
									<li class="has-droupdown"><a href="#service-area">Service</a>
									</li>
									<li class="has-droupdown"><a href="#team-area">Team</a>
									</li>
									<li class="has-droupdown"><a href="#videoclient-area">Opinions</a>
									</li>
									<li class="has-droupdown"><a href="#youtubevideos-area">Videos</a>
									</li>
                                    <li class="has-droupdown"><a href="#oficinas-area">Oficinas</a>
									</li>
									<li class="has-droupdown"><a href="contact-us.html">Contact Us</a>
									</li><li></li>
								</ul>
							</nav>
							<div id="tresrayas-distance">
								<span><a href="https://www.google.com.pe/" target="_blank">
									<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 -4 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
								</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
    <main id="main-content">
        <section id="workerin" class="padded">
            <div class="container">
                <h2>Trabajar desde nuestras oficinas:</h2>
                <div class="contenido-columnas">
                    <p>Aperiam alias doloremque ut amet ipsam, recusandae harum neque molestias ea vero! Voluptates fuga mollitia illo nesciunt? Illum quo dolores ab dicta odio! Molestias dignissimos nobis rem voluptas voluptatum, labore consequatur, voluptate, minima numquam repellat ducimus obcaecati dolores ut iure ullam veniam adipisci itaque aperiam magni voluptatibus. Cumque perferendis nemo, exercitationem quo deleniti nesciunt dolorem maxime ratione ea adipisci tenetur ipsum est assumenda animi doloribus repellendus ad, enim, dolores facere sapiente maiores fuga! Labore, omnis cumque. Obcaecati, similique repellendus? Soluta.</p>
                    <p>Las oficinas de la compañía se encuentran en las siguientes ciudades:</p>
                </div><!-- contenido-columnas -->
            </div><!-- container -->
        </section><!-- oficinas -->

        <section id="oficinas-area" class="padded">
            <div class="container">
                <h2>Oficinas:</h2>
                <div class="row ">
                    <div class="col fullcol table--h50">
                        <table id="miTabla">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Ciudad</th>
                                    <th>País</th>
                                    <th>Gerente</th>
                                    <th>Ventas ($)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>01</td>
                                    <td>Londres</td>
                                    <td>Reino Unido</td>
                                    <td>Clark Kent</td>
                                    <td>250,000</td>
                                </tr>
                                <tr>
                                    <td>02</td>
                                    <td>Berlín</td>
                                    <td>Alemania</td>
                                    <td>Tony Stark</td>
                                    <td>10,000</td>
                                </tr>
                                <tr>
                                    <td>03</td>
                                    <td>Moscú</td>
                                    <td>Rusia</td>
                                    <td>Natasha Romanov</td>
                                    <td>130,000</td>
                                </tr>
                                <tr>
                                    <td>04</td>
                                    <td>New york</td>
                                    <td>USA</td>
                                    <td>Peter Parker</td>
                                    <td>310,000</td>
                                </tr>
                                <tr>
                                    <td>05</td>
                                    <td>Los Angeles</td>
                                    <td>USA</td>
                                    <td>Bruno Díaz</td>
                                    <td>400,000</td>
                                </tr>
                                <tr>
                                    <td>06</td>
                                    <td>Tokio</td>
                                    <td>Japón</td>
                                    <td>Ricardo Tapia</td>
                                    <td>350,000</td>
                                </tr>
                                <tr>
                                    <td>07</td>
                                    <td>Sidney</td>
                                    <td>Australia</td>
                                    <td>Diana Prince</td>
                                    <td>140,000</td>
                                </tr>


                                <tr>
                                    <td>08</td>
                                    <td>Montevideo</td>
                                    <td>Uruguay</td>
                                    <td>Donald Blake</td>
                                    <td>80,000</td>        
                                </tr>        
                                <tr>
                                    <td>09</td>
                                    <td>Asunción</td>
                                    <td>Paraguay</td>
                                    <td>Bruce Banner</td>
                                    <td>70,000</td>  
                                </tr>        
                                <tr>
                                    <td>10</td>
                                    <td>San José</td>
                                    <td>Costa Rica</td>
                                    <td>Susan Storm</td>
                                    <td>110,000</td>
                                </tr>        
                            </tbody>
                            <tfoot></tfoot>
                        </table>                            
                    </div>
                </div><!-- row -->
            </div><!-- container -->
        </section><!-- sedes -->

    </main><!-- main-content -->
    <a href="#" id="pa-arriba"><i class="fas fa-chevron-up"></i></a>
    <footer id="footer-area" class="patopic-120 colorblack">
        <div class="container">
            <div class="ft-text">
                <a href="index.html">
                    <img src="assets/images/logo/png/logo-light.png" alt="Digital Agency">
                </a>
                <p style="padding-top:20px;">Copyright © 2021 <a href="index.html">Imroz</a> React Template. Built with love in Bangladesh All
                        rights reserved.</p>
                <ul class="row">
                    <li><a href="https://www.google.com/url?sa=t&url=https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.google.com/url?sa=t&url=https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="https://www.google.com/url?sa=t&url=https://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.google.com/url?sa=t&url=https://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.google.com/url?sa=t&url=https://web.whatsapp.com"><i class="fab fa-whatsapp"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>